<script src="{{ 'product-quiz.js' | asset_url }}" defer></script>
{{ 'product-quiz.css' | asset_url | stylesheet_tag }}


<div class="container">
  <div class="slide-1">
    <h1>
      Find the perfect<br>
      <span class="s1-h1">products for you</span>
    </h1>
    <p>Our personalised consultation will tailor your product line up based on your hair needs and concerns. Let the experts do the hard work for you. Find out your ideal cocktail of hair care designed to make you look as good as you feel.</p>
    <button>Get started</button>
  </div>
</div>


{% schema %}
  {
    "name": "Product quiz",
    "settings": []
  }
{% endschema %}