<div class="container">
  <h1>Is this working?</h1>
</div>

{% schema %}
  {
      "name": "Product quiz",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
    .container{
        display: flex;
      align-content: centre;
    }
{% endstylesheet %}

{% javascript %}
  
{% endjavascript %}