<script src="{{ 'product-quiz.js' | asset_url }}" defer></script>
{{ 'product-quiz.css' | asset_url | stylesheet_tag }}



<div class="quiz-wrapper">
  <div class="container">
    <div class="start-slide">
      <div class="quiz-content">
        <h1>
          Find the perfect<br>
          <span class="start-h1">products for you</span>
        </h1>
        <p>Our personalised consultation will tailor your product line up based on your hair needs and concerns. Let the experts do the hard work for you. Find out your ideal cocktail of hair care designed to make you look as good as you feel.</p>
        <button id="startBtn">Get started</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="quiz-slides hide">
      <div class="quiz-content">
        <h2 id="question">Test</h2>
        <p id="questionText">Test</p>
        <img
          id="optionImg"
          class="option-img"
          src=""
          alt=""
          width="119"
          height="119"
          loading="lazy">
        <p class="optionText"></p>
        <button id="backBtn">Go back</button>
        <button id="nextBtn">Next</button>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Product quiz",
    "settings": []
  }
{% endschema %}