<script src="{{ 'product-quiz.js' | asset_url }}" defer></script>
{{ 'product-quiz.css' | asset_url | stylesheet_tag }}


<div class="quiz-wrapper">
  <div class="container">
    <div id="startSlide" class="start-slide">
      <div class="quiz-start-content">
        <h1>
          Find the perfect<br>
          <span class="start-h1">products for you</span>
        </h1>
        <p>Our personalised consultation will tailor your product line up based on your hair needs and concerns. Let the experts do the hard work for you. Find out your ideal cocktail of hair care designed to make you look as good as you feel.</p>
        <button id="startBtn">Get started</button>
      </div>
    </div>
  </div>

  <div class="container">
    {% comment %} <div class="quizProgressTracker">
    <div class="quizProgress"></div>
    </div> {% endcomment %}
    <div id="quizSlides" class="quiz-slides hide">
      <div class="quiz-content">
        <h2 id="question">Test</h2>
        <p id="questionText" class="question-text">Test</p>
        <div id="optionContainer">     
        </div>
        <button id="backBtn" class="back-btn">Go back</button>
        <button id="nextBtn" class="next-btn">Next</button>
        <button id="resultBtn hide" class="result-btn">Get your result</button>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Product quiz",
    "settings": []
  }
{% endschema %}