.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 0;
}

.slide-1 {
  width: 100vw;
  height: 701px;
  background-image: url(https://cdn.shopify.com/s/files/1/0761/8176/6464/files/background-img.jpg?v=1689023157);
  object-fit: cover;

  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-1 h1 {
  color: #e33b9f;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.s1-h1 {
  color: #e977c2;
}

.slide-1 p {
  width: 638px;
  height: 60px;
  flex-shrink: 0;
  color: #d83696;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

button {
  border-radius: 5px;
  background: #d83696;
  width: 188px;
  padding: 18px 38px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}
