* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

button {
  border-radius: 5px;
  background: #d83696;
  width: 188px;
  padding: 13px 12px;
  color: #fff;
  text-align: center;
  font-family: Futura;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin: 0;
}

button:hover {
  background: #fff;
  color: #d83696;
  outline: 2px solid #d83696;
}

.hide {
  display: none !important;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1600px;
  height: 701px;
  margin: 300px auto;
  padding: 0;
}

.start-slide {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn.shopify.com/s/files/1/0761/8176/6464/files/background-img.jpg?v=1689023157);
  object-fit: cover;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.quiz-start-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 550px;
}

.start-slide h1 {
  color: #e33b9f;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 18px;
}

.start-h1 {
  color: #e977c2;
}

.start-slide p {
  width: 638px;
  height: 60px;
  flex-shrink: 0;
  color: #d83696;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
  margin-bottom: 32px;
}

.quiz-slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f5d6dd;
  height: 735px;
  width: 1600px;
  color: #101010;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.quiz-slides h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  padding-bottom: 20px;
  padding-top: 100px;
}

p#questionText {
  color: #101010;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

p.option-text {
  color: rgba(16, 16, 16, 0.5);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  padding-top: 30px;
  max-width: 165px;
  display: inline-block;
}
.innerContainer {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 165px;
  min-height: 200px;
}

#optionContainer {
  display: flex;
  flex-direction: row;
  padding: 38px 0 95px 0;
  gap: 6px;
}

#optionOnlyContainer {
  display: flex;
  flex-direction: row;
  padding: 38px 0 186px 0;
  gap: 19px;
  flex-wrap: wrap;
  width: 645px;
}

.selected-image {
  outline: 4px solid #d83696;
  outline-offset: -3px;
  width: 119px;
  height: 119px;
  border-radius: 75px;
  box-sizing: border-box;
}

.selected-text {
  color: #101010;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  padding-top: 30px;
  max-width: 165px;
  display: inline-block;
}

.option-text-only {
  color: #101010;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 202px;
  height: 45px;
  border-radius: 5px;
  background: rgba(216, 54, 150, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected-text-only {
  color: #101010;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 202px;
  height: 45px;
  border-radius: 5px;
  background: rgba(216, 54, 150, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 3px solid #d83696;
}

.option-text-only:hover {
  border-radius: 5px;
  border: 3px solid #d83696;
  cursor: pointer;
}

.back-btn,
.exit-btn {
  background: #fff;
  color: #d83696;
  margin-right: 6px;
}

.back-btn:hover,
.exit-btn:hover {
  background: #d83696;
  color: #fff;
  outline: 2px solid #fff;
}

.result-slide {
  background: #f5d6dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 890px;
  width: 1600px;
  color: #101010;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.quiz-result-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-slide p {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

.products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  margin: 38px 0 135px 0;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p.info-price,
p.info-name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.17px;
  margin-top: 8px;
}

.product-btn {
  margin-top: 30px;
  width: 100%;
}

/* Mobile media query */

@media only screen and (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1034px;
    height: 633px;
    margin: auto;
    padding: 0;
  }

  /* First slide */

  .start-slide {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/0761/8176/6464/files/background-mob.jpg?v=1689247724);
    object-fit: cover;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
  }

  .quiz-start-content {
    margin: 0;
  }

  .start-slide h1 {
    color: #e33b9f;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.3px;
  }

  .start-h1 {
    color: #e977c2;
    font-size: 30px;
    line-height: normal;
    letter-spacing: 0.3px;
  }

  .start-slide p {
    width: 363px;
    height: 93px;
  }

  /* Question slides */

  .quiz-slides {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #f5d6dd;
    width: 420px;
    height: 1118px;
    color: #101010;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .quiz-slides h2,
  .result-slide h2 {
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.2px;
  }

  #optionContainer {
    display: flex;
    flex-direction: column;
    padding: 38px 0 95px 0;
    gap: 6px;
  }

  .innerContainer {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(50% - 12px);
  }

  #optionOnlyContainer {
    gap: 20px;
    width: 580px;
    align-items: center;
    justify-content: center;
  }

  .option-text-only {
    width: 186px;
  }

  .selected-text-only {
    width: 186px;
  }

  .result-slide {
    background: #f5d6dd;
    width: 420px;
    height: 670px;
  }

  .result-slide p {
    padding: 0 12px;
  }

  .products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 30px 0 81px 0;
  }

  .product1 img,
  .product2 img {
    width: 187px;
    height: 187px;
  }

  .info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  p.info-price,
  p.info-name {
    margin-top: 0px;
    padding: 0px;
  }
}
