* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

button {
  border-radius: 5px;
  background: #d83696;
  width: 188px;
  padding: 13px 12px;
  color: #fff;
  text-align: center;
  font-family: Futura;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.15px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin: 0;
}

.hide {
  display: none !important;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1600px;
  height: 701px;
  margin: 300px auto;
  padding: 0;
}

.start-slide {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(https://cdn.shopify.com/s/files/1/0761/8176/6464/files/background-img.jpg?v=1689023157);
  object-fit: cover;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.quiz-start-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 550px;
}

.start-slide h1 {
  color: #e33b9f;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 18px;
}

.start-h1 {
  color: #e977c2;
}

.start-slide p {
  width: 638px;
  height: 60px;
  flex-shrink: 0;
  color: #d83696;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
  margin-bottom: 32px;
}

.quiz-slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f5d6dd;
  height: 735px;
  width: 1600px;
  color: #101010;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.quiz-slides h2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3px;
  padding-bottom: 20px;
}

.inner-container img {
  cursor: pointer;
}

p.question-text {
  color: #101010;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15px;
}

p.option-text {
  color: rgba(16, 16, 16, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  padding-top: 33px;
}

#optionContainer {
  display: flex;
  flex-direction: row;
  gap: 49px;
  padding: 38px 0 116px 0;
  flex-wrap: wrap;
}

.selected-image {
  border: 3px solid #d83696;
  width: 119px;
  height: 119px;
  border-radius: 75px;
  box-sizing: border-box;
}

.selected-text {
  color: #101010;
}

.option-text-only {
  color: #101010;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 202px;
  height: 45px;
  border-radius: 5px;
  background: rgba(216, 54, 150, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected-text-only {
  color: #101010;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  width: 202px;
  height: 45px;
  border-radius: 5px;
  background: rgba(216, 54, 150, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 3px solid #d83696;
}

.option-text-only:hover {
  border-radius: 5px;
  border: 3px solid #d83696;
  cursor: pointer;
}

.back-btn {
  background: #fff;
  color: #d83696;
  margin-right: 6px;
}

.result-slide {
  background: #f5d6dd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 1020px;
  width: 1600px;
  color: #101010;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.exit-button {
}
